/* Centraliza o conteúdo de main */
.introContainer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

.intro {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.intro-photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /* Torna a imagem circular */
}

.intro-text {
  flex: 1;
  text-align: left;
}

/* Estilo para a seção de perfil */
.profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Estilo para o nome */
.profile h2 {
  margin-bottom: 1rem;
}

.anime-section {
  display: flex;
  align-items: flex-start; /* ou center, se preferir centralizar verticalmente */
  gap: 2rem; /* Espaço entre o SVG e o conteúdo */
}

.anime-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
}

.anime-svg img {
  max-width: 100%;
  height: auto;
}


