html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.forms {
  margin: 50px auto;
  padding: 6rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Botões Sociais */
.social-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.social-buttons a {
  text-decoration: none;
}

.social-buttons button {
  padding: 10px 20px;
  border: none;

  /* LinkedIn Blue */
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.github {
  background-color: #333;
}

.linkedin {
  background-color: #0077b5;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  height: 150px;
  resize: vertical;
}

button[type="submit"] {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Mensagem de sucesso */
.success-message {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  display: none;
}